<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Tweet Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
 

<div class="StreamsHero-image" id="h01" style="background:url('/assets/header_bg.png');">
	 <h1 class="StreamsHero-header">Switter</h1>
	<p  class="text-center" id="p01"> See What's happening right now on switter </h2>
  </div>

<% end %>
