<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new tweet..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  <div class="pic_req"><%= "You have a picture?? " %> </div>
  
  <span class="picture">
    <%= f.file_field :picture %>
</span>
<% end %>
