<li>
<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
  
  <%= micropost.content %>
  <p>
  <%= image_tag micropost.picture.url if micropost.picture? %>
  </p>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
</li>
