<footer class="footer">
  <small>
  Sample Twitter App created by
    <a href="https://www.facebook.com/sudeepgaddam/">Sudeep</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
